@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@font-face {
  font-family: myFirstFont;
  src: url(/Fonts/AGCRegular.ttf);
}

:root{
  --TurquoiseColor:#54b79f;
  --BgCard:#1d222a;
}
body{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'myFirstFont', sans-serif;
  background: linear-gradient(151deg, #222831 43.67%, #2F343B 116.24%);
  color: #ffffff;
 
}

.avatarimg{
  width: 628px;
height: 665.835px;
flex-shrink: 0;
}


.dots{
display: flex;
width: 670px;
height: 670px;
padding-bottom: 0.001px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.TurquoiseTextColor{
color: var(--TurquoiseColor);
}

.name{
  font-size: 80px;
}

.iraqbg{
  position: absolute;
  transform: translate(-10px , -50px );
  -webkit-transform: translate(-10px , -50px );
  -moz-transform: translate(-10px , -50px );
  -ms-transform: translate(-10px , -50px );
  -o-transform: translate(-10px , -50px );
}

.bgcard{
background-color: var(--BgCard);
}

.icon{
 
}

.codeFont{
  font-family: 'Source Code Pro', monospace;
}

.infocard{
  background: var(--BgCard);
  line-height: 2.5;
}

.cardtitle{
  position: absolute;
  transform: translateY(-60px  );
  -webkit-transform: translateY(-60px  );
  -moz-transform: translateY(-60px  );
  -ms-transform: translateY(-60px  );
  -o-transform: translateY(-60px  );
}

.plicon{
   
  width:  50px; 
  margin: 20px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.dotsbg{
  background: url(/img/bgdogts.png);
   background-repeat: no-repeat;
   position: relative;
   top: 40px;
    left: 40px; 
   height: 50vh;
   width: 50vw;
}

.bi-patch-check , .bi-book-half , .bi-easel2  {
  color: var(--TurquoiseColor);
  margin-left: 30px ;
}

.bi-code-slash {
  color: var(--TurquoiseColor);
  margin-left: 10px ;
}

body::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #222831;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #54b79f;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  */
   /* creates padding around scroll thumb */
}
.container{
padding-left: 20px;
padding-right: 20px;
}
 td {
  padding-top: 20px !important;
  vertical-align: top;
  

}

 



@media only screen and (max-width: 600px) {
 body{
 overflow-x: hidden;
 }

 .name{
  font-size: 60px;
}

.bi-patch-check , .bi-book-half , .bi-easel2  {
  color: var(--TurquoiseColor);
  margin-left:10px ;
}
}


.SW{
  height:100vh;
  width: 5px !important;
  position: fixed;
  top: 0;
  left:  50px;
  background-color: var(--TurquoiseColor);
  width: 100%;
  scale: 1 0;
  animation: scrollEffect ;
  -webkit-animation: scrollEffect ;
  animation-timeline: scroll(y) ;
}


@keyframes scrollEffect {

  to {
      scale : 1 1 ;
  }
}


@media only screen and (min-width: 601px) {

  .scrani{
    opacity: 0;
    animation: faidin ;
    -webkit-animation: faidin ;
    animation-timeline: view() ;
    animation-range: cover     ;
  }
}




@keyframes faidin {

  from {
    opacity: 0; scale: 1 ;
  }
  to {
    opacity: 100%; scale: 1 ;
  }
}
